*.class
*.log
*.bak

data/
# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# Metals
.metals
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
xSimWorkspace/SboomTop/*
tmp/
null

quantization/result/*



*.jou
*.log
*.wcfg
*.wdb
/xsim.dir

build/*

.Xil
vivado_pid15228.str
